* {
    margin: 0;
    padding: 0;
}

.zIn {
    z-index: 100000
}

.margin-dress {
    top: 35px;
}

.margin-lay {
    margin-top: -55px
}

.margin-tool {
    margin-left: 200px;
    position: absolute;
    border: solid 1px black;
    margin-bottom: 30px;
}