* {
    margin: 0;
    padding: 0;
}

.zIn {
    z-index: 100000
}

.opac {
    opacity: .7;
}

.margin-dress {
    top: 35px;
}

.margin-lay {
    margin-top: -55px
}

.margin-tool {
    margin-left: -28.6em;
    margin-top: 3.15em;
    position: absolute;
    border: dashed 2px rgb(1, 114, 26);
    margin-bottom: 30px;
    border-radius: 10px;
}


.textInfo {
    text-align: justify;
    color: black;
    padding: 5px;
}

.succes_but_div {
    position: fixed;
    margin-top: 21em;
    top: 200px;
    padding-right: 80px;
}

.Butt_succes {
    border: solid 2px rgba(4, 146, 9, 0.664);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: rgb(0, 94, 3);
}

.Butt_succes:hover {
    background-color: rgba(4, 146, 9, 0.664);
    transition: .5s;

}

.test {
    border-radius: 100px;
    border: solid 1px rgb(29, 236, 29);
    background-color: rgb(29, 236, 29);
    position: absolute;
    margin-left: 125px;
}

.paddButPlusMin {
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.textCenter {
    text-align: center;
    justify-content: center;
    padding-right: 80px;
    padding-bottom: 30px;
}

.flexCont {
    display: flex;
    flex-direction: row;
}

.cardPad {
    margin: 30px;
}